<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Loans</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">

    <h1> Loans history </h1>

    <div class="loans_history row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th> Title </th>
                    <th> Time </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${loans.empty}">
                    <td colspan="2"> Lend something! </td>
                </tr>
                <tr th:each="loan : ${loans}">
                    <td><span th:text="${loan.bookTitle}"> Title </span></td>
                    <td><span th:text="${loan.getLoanDate()} "> Date </span></td>
                    <td><span th:text="${loan.getReturnDate()}">  </span></td>
                    <td>
                        <span th:if="not ${loan.isApproved()} and not ${loan.isActive()}" th:text="Pending"></span>
                    </td>
                    <td>
                        <span th:if="${loan.isActive()}">
                        <form class="give_back" th:action="@{/return}" th:method="get">
                                <button type="submit" th:value="${loan.getLoanId()}" class="btn btn-primary" name="return"><i class="fas fa-search">Return</i></button>
                        </form>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="books_to_lend container">

        <h1> Available books </h1>
        <form class="input-group" action="/" th:method="get" style="display: flex">
            <input type="search" id="search-input" class="form-control" name="keyword" />
            <input type="submit" value="Search" class="btn btn-primary">
            <i class="fas fa-search"></i>
            </input>
        </form>
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th> Title </th>
                        <th> Author </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${books.empty}">
                        <td colspan="2"> No Books Available </td>
                    </tr>
                    <tr th:each="book : ${books}">
                        <td><span th:text="${book.title}"> Title </span></td>
                        <td><span th:text="${book.author}"> Author </span></td>
                        <td>
                            <form class="col-md-6" th:action="@{/lend}" th:method="get">
                                <button type="submit" th:value="${book.getIsbn()}" class="btn btn-primary" name="lend"><i class="fas fa-search">Lend</i></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <a class="btn btn-success" href="#" th:href="@{/books/add}"> Add Books </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>