<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Loans</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Loans history </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th> Title </th>
                    <th> Time </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${loans.empty}">
                    <td colspan="2"> Lend something! </td>
                </tr>
                <tr th:each="loan : ${loans}">
                    <td><span th:text="${loan.bookTitle}"> Title </span></td>
                    <td><span th:text="${loan.getLoanDate()} "> Date </span></td>
                    <td><span th:text="${loan.getReturnDate()}">  </span></td>
                </tr>
                </tbody>
            </table>

            <tr th:each="book : ${books}">
                <td><span th:text="${book.bookTitle}"> Title </span></td>
                <td><span th:text="${book.author} "> Author </span></td>
                <td><span th:text="${book.bookDescription} "> About </span></td>
                <form class="col-md-6">
                    <input type="submit" value="Lend" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                    </input>
                </form>

            </tr>

        </div>
    </div>
</div>
</body>
</html>